#corpo-curriculum{
	width: 960px;
	height: 1000px;
}
#esquerda{
	float: left;
	width: 30%;
}
#direita{
	float: right;
	width: 68%;
}
#foto-nome{
	float: left;
	background-color: rgba(255,121,73);
	padding: 130px 0px 200px 0px;
	width: 100%;
}
#foto img{
	width: 150px;
	border-radius: 50%;
	display: block;
	margin: auto;
}
#nome{
	color: white;
	text-align: center;
}
#perfil-profissional{
	float: left;
	background-color: rgba(79,173,201);
	color: white;
	padding: 120px 0px 120px 0px;
}
#titulo-perfil{
	text-align: center;
}
#meu-perfil{
	text-align: justify;
	margin: 0px 40px 0px 40px;
	font-size: 15px;
}
#contato{
	background-color: rgba(53,118,138);
	color: white;
	float: left;
	width: 100%;
	font-size: 15px;
	padding: 140px 0px 130px 0px;
}
#contato-esquerda{
	float: left;
	margin-left: 40px;
}
#contato-direita1{
	float: right;
	margin-right: 81px;
}
#contato-direita2{
	float: right;
	margin-right: 40px;
}
#contato-direita3{
	float: right;
	margin-right: 62px;
}
#titulo{
	color: rgba(255,121,73);
	padding-top: 20px;
}
#titulo2{
	color: rgba(53,118,138);
	font-weight: bold;
	margin: 10px 0px -15px 0px;
}
#formacao{
	width: 600px;
	padding-top: 60px;
}
#titulo-esquerda{
	width: 0%;
	float: left;
}
#titulo-direita{
	width: 70%;
	height: 20px;
	background-color: rgba(175,175,175);
	float: right;
	margin: 25px 70px 0px 0px;
}
#titulo-direita img{
	margin: -10px -40px 0px 0px;
	float: right;
}
#titulo2-esquerda{
	float: left;
}
#titulo2-direita{
	width: 52%;
	height: 20px;
	background-color: rgba(175,175,175);
	float: right;
	margin: 20px 18px 0px 10px;
}
#titulo2-direita img{
	margin: -13px -40px 0px 0px;
	float: right;
}
#titulo3-esquerda{
	float: left;
}
#titulo3-direita{
	width: 65%;
	height: 20px;
	background-color: rgba(175,175,175);
	float: right;
	margin: 25px 70px 0px 30px;
}
#titulo3-direita img{
	margin: -12px -40px 0px 0px;
	float: right;
}
#titulo4-esquerda{
	float: left;
}
#titulo4-direita{
	width: 69%;
	height: 20px;
	background-color: rgba(175,175,175);
	float: right;
	margin: 25px 68px 0px 30px;
}
#titulo4-direita img{
	margin: -12px -40px 0px 0px;
	float: right;
}
#formacao-esquerda{
	width: 38%;
	float: left;
	margin: 10px 0px 38px 0px;
}
#formacao-direita{
	width: 58%;
	float: right;
	margin: 10px 0px 0px 0px;
}
#experiencia-profissional{
	width: 600px;
	height: 420px;
	float: right;
}
#experiencia-esquerda{
	float: left;
	width: 40%;
	margin-left: -50px;
}
#experiencia-direita{
	float: right;
	margin-right: 40px;
	width: 60%;
}
#experiencia{
	width: 600px;
	height: 110px;
}
#habilidades{
	width: 600px;
	height: 500px;

}
#habilidade{
	width: 600px;
	float: left;
}
#titulo2 li{
	margin-left: -40px;
	padding-right: 125px;
}
#titulo2 ul li{
	list-style: none;
	display: inline;
}
#interesses{
	width: 600px;
	float: left;
}
